<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Achievements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Achievements</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group>
    <ion-accordion *ngFor="let achievement of achievements">
      <ion-item slot="header" [color]="achievement.unlocked ? 'success' : 'medium'">
        <ion-icon [name]="achievement.icon" slot="start"></ion-icon>
        <ion-label>{{ achievement.title }}</ion-label>
        <ion-badge slot="end" [color]="achievement.unlocked ? 'success' : 'medium'">
          {{ achievement.unlocked ? 'Unlocked' : 'Locked' }}
        </ion-badge>
      </ion-item>
      <div slot="content">
        <ion-item lines="none">
          <ion-label text-wrap>
            <p>{{ achievement.description }}</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>